@import url("./global.css");
@import url("./layout.css");
@import url("./grid.css");
/* @import url("./note.css"); */
@import url("./card.css");
/* @import url("./inspector.css"); */
@import url("./plot.css");

#observablehq-main,
#observablehq-header,
#observablehq-footer {
    margin: 1rem auto;
    max-width: 1152px;
}

/* Personal overloads */
#rainfall-header {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

#current-year-rain {
    max-width: 15em;
    margin: 3rem auto;
    margin-bottom: 8rem;

    h1 span {
        font: var(--font-medium);
    }

    p {
        font: var(--font-big);
    }
}

.rain-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.value-box {
    display: inline-block;
    width: max-content;
    text-align: left;
}

#current-year-month-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.current-year-month-rain {
    max-width: 15em;
    padding: 0 .5em;
    margin: 0 auto;

    h1 span {
        font: var(--font-medium);
    }

    p {
        font: var(--font-big);
    }
}

.rainfall-card {
    background: var(--theme-background-alt);
    border: solid 1px var(--theme-foreground-faintest);
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1rem 0;

    h1 {
        margin-bottom: 0.5rem;
    }

    h2 {
        padding-top: 0.5rem;
        margin-bottom: 0;
    }
}